<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Chat</title>
        {% load staticfiles %}
        <link rel="stylesheet" type="text/css" href={%static "talktome/css/main.css"%}>
        <link rel="stylesheet" href="{% static 'talktome/css/skeleton.css' %}">
        <link rel="stylesheet" href="{% static 'talktome/css/normalize.css' %}">
    </head>
    <script src= 'http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>

    <script type ="text/javascript" src= "{% static 'talktome/js/main.js' %}"></script>
    <body>
      <div class="container">
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <h4>Hey {{user.username}} from {{user.location}}!</h4>
        <p class="title">Chat Between <b>{{room.roomname}}</b></p><br><br>
        <div id="outerdiv">
        <div id="thisdiv">
            {% for message in room.messages.all %}
            {% if message.creator == user %}
            <span id="user"><b>{{message.creator.username}}</b></span>:  {{message.content}}<br>
            {% else %}
            <span id="otheruser"><b>{{message.creator.username}}</b></span>:  {{message.content}}<br></span>
            {% endif %}
            {% endfor %}
        </div>
      </div>
      <div id="whatever">
        <br>
        <form action='/addmessage/{{room.id}}' method='POST'>
        {% csrf_token %}
        <input class="inputmessage" type="text" name="message" autofocus="autofocus">
        <input class="button-primary" type="submit" value="Message">
        </form>
        <form action='/deleteroom/{{room.id}}' method='POST'>
        {% csrf_token %}
        <input class="button-primary" type="submit" value="Return">
        </form>
        <form action='/logout' method='POST'>
        {% csrf_token %}
        <input class="button-primary" type="submit" value="logout">
        </form>
      </div>
      </div>
    </body>
</html>
